html, body {
    margin: 0;
    padding: 0;
}

.header, .container1 , .footer {
    background-color: #1f2937;
}

.headertext, .big-text, .footer {
    color:#f9faf8
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

.headertext {
    font-size: 24px;
    font-weight:bold;  
}

.top {
    display: flex;
    gap: 20px;
}

.top, .image, .small-text {
    font-size: 18px;
    color:#e5e7eb;
}

.big-text, .random {
    font-weight: 900;
}

.placeholder {
    background-color: grey;
}

.big-text {
    font-size: 48px;
}

.blue-box, .signup {
    background-color: #3882f6;
}

.random, .quote {
    font-size: 36px;
    color: #1f2937'
}

.random {

}

.container1, .container2, .container3 {
    height: 400px;
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    font-style: oblique;
    margin-top: 128px;
    padding-inline: 570px;
}

.thor {
    display:flex;
    font-weight: bold;
    padding-left: 1100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container2 {
    display: flex;
    
}